# Dit is een voorbeeld .gitignore bestand. 
# Files in dit bestand worden niet in de GIT repository geplaatst.

# Bestanden met de volgende extensie negeren
*.class
*.log
.classpath
.project
*.pydevproject
.metadata
*.bak
*.swp
*~.nib
local.properties
.loadpath

# but do track lib.a, even though you're ignoring .a files above
#!lib.a

# only ignore the root .metadata file, not subdir/.metadata
/.metadata

# ignore all files in these directories
bin/
build/
lib/
.settings/
.gradle/
tmp/

# ignore doc/notes.txt, but not doc/server/arch.txt
doc/*.txt

# ignore all .txt files in the doc/ directory
doc/**/*.txt

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse
